<div class="search-div">
  <button mat-raised-button (click)="onCrearModule()">
    <mat-icon>add</mat-icon>Añadir Empleado
  </button>
  <mat-form-field class="search-form-field">
    <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="onObtenerFiltro()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onLimpiar()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.mobile }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="hireDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.hireDate }}</mat-cell> 
    </ng-container> 
    <ng-container matColumnDef="departamentoName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.departamentoName }}</mat-cell> 
      </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editarEmpleado(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="borrarEmpleado(row)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell> 
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Cargando Datos...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Sin Datos...
        </mat-footer-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ 'hide':  listData != null }"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ 'hide':  !(listData != null && listData.data.length == 0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>