<mat-toolbar>
  <span>Ingresa al sistema</span>
</mat-toolbar>
<form [formGroup]="LoginService.forms" class="normal-form">
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key"/>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Correo">
          <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Clave">
          <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="onGo(LoginService.forms.value)" [disabled]="LoginService.forms.invalida">Ingresar</button>
          <button mat-raised-button color="warn" (click)="onGoGoogle()">Ingresar por Gmail</button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSalir()"></button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>